.countrySection {
  margin: 40px;
  padding: 20px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.table {
  width: 60%;
  text-align: center;
  margin: 20px auto;
}
