@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Montserrat:wght@700&display=swap");

body {
  padding: 50px;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #00ff87 0%, #60efff 100%);
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 64px;
  text-transform: uppercase;
}

.countrySection {
  margin: 40px;
  padding: 20px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.table {
  width: 60%;
  text-align: center;
  margin: 20px auto;
}

.uniqueCountry {
  padding: 0 100px;
  font-family: "Playfair Display", serif;
}

.playerName {
  text-transform: uppercase;
}

.btnLayout {
  text-align: right;
  position: relative;
  right: 40px;
}

.sortOrderButton {
  border: 1px white solid;
  background: none;
  color: white;
  /* #60efff; */
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
